@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-BlackItalic.eot"), url("../assets/fonts/HelveticaNowText-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-BlackItalic.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-BlackItalic.woff") format("woff"), url("../assets/fonts/HelveticaNowText-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-ExtBdIta.eot"), url("../assets/fonts/HelveticaNowText-ExtBdIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-ExtBdIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-ExtBdIta.woff") format("woff"), url("../assets/fonts/HelveticaNowText-ExtBdIta.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Black.eot"), url("../assets/fonts/HelveticaNowText-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Black.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Black.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-BoldItalic.eot"), url("../assets/fonts/HelveticaNowText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-BoldItalic.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-BoldItalic.woff") format("woff"), url("../assets/fonts/HelveticaNowText-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Bold.eot"), url("../assets/fonts/HelveticaNowText-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Bold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Bold.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-RegIta.eot"), url("../assets/fonts/HelveticaNowText-RegIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-RegIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-RegIta.woff") format("woff"), url("../assets/fonts/HelveticaNowText-RegIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-ExtLtIta.eot"), url("../assets/fonts/HelveticaNowText-ExtLtIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-ExtLtIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-ExtLtIta.woff") format("woff"), url("../assets/fonts/HelveticaNowText-ExtLtIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Thin.eot"), url("../assets/fonts/HelveticaNowText-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Thin.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Thin.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-ExtraLight.eot"), url("../assets/fonts/HelveticaNowText-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-ExtraLight.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-ExtraLight.woff") format("woff"), url("../assets/fonts/HelveticaNowText-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Light.eot"), url("../assets/fonts/HelveticaNowText-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Light.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Light.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-ExtraBold.eot"), url("../assets/fonts/HelveticaNowText-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-ExtraBold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-ExtraBold.woff") format("woff"), url("../assets/fonts/HelveticaNowText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-MediumItalic.eot"), url("../assets/fonts/HelveticaNowText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-MediumItalic.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-MediumItalic.woff") format("woff"), url("../assets/fonts/HelveticaNowText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Regular.eot"), url("../assets/fonts/HelveticaNowText-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Regular.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Regular.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-LightItalic.eot"), url("../assets/fonts/HelveticaNowText-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-LightItalic.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-LightItalic.woff") format("woff"), url("../assets/fonts/HelveticaNowText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-ThinItalic.eot"), url("../assets/fonts/HelveticaNowText-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-ThinItalic.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-ThinItalic.woff") format("woff"), url("../assets/fonts/HelveticaNowText-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../assets/fonts/HelveticaNowText-Medium.eot"), url("../assets/fonts/HelveticaNowText-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowText-Medium.woff2") format("woff2"), url("../assets/fonts/HelveticaNowText-Medium.woff") format("woff"), url("../assets/fonts/HelveticaNowText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.packageSelector {
  font-family: "Helvetica Now Text", Helvetica, sans-serif;
}
.packageSelector__title {
  font-family: "Helvetica Now Text", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 44px;
  color: #4B286D;
  margin: 0 0 1rem 1rem;
  padding: 40px 130px;
}
.packageSelector__div {
  background-color: #4B286D;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding: 20px 130px;
}
.packageSelector__nestedDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.packageSelector__p {
  font-size: 20px;
  margin-bottom: 0;
}
.packageSelector__h2 {
  font-size: 36px;
  margin-top: 1rem;
  font-weight: 500;
}
.packageSelector__h3 {
  font-weight: 300;
  font-size: 36px;
}/*# sourceMappingURL=PackageSelector.css.map */