// fonts
$font-primary: 'Helvetica Now', 'sans serif';

// primary colors
$telus-purple: #4B286D;
$telus-green: #66CC00;
$accessible-green: #2B8000;
$white: #FFFFFF;

// grey colours
$shark: #2A2C2E;
$shuttle-grey: #54595F;
$raven-grey: #71757B;
$gainsboro: #D8D8D8;
$athens-grey: #F7F7F8;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;