// fonts
$font-primary: 'Basic', 'sans serif';
$font-title: 'Italiana', 'sans serif';
// primary colors
$color-dark: #05386B;
$color-dark-transparent:rgba(5, 56, 107, .7);
$color-dark-sec:#379683;
$color-accent: #FFFFFF;
// secondary colors
$color-light: #5CDB95;
$color-light-sec: #8EE4AF;
$color-accent-sec: #EDF5E1;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;