
@use '../../style/variables' as *;

.categories {
    padding: 40px 130px;
    font-family: $font-primary;
    &__button {
        border-radius: 48px;
        padding: 8px 16px;
        background-color: white;
        color: #676E73;
        border: 1px solid #B2B9BF;
        margin: 0 16px 12px 0;

        &:hover {
            // border: 3px solid rgb(178, 185, 191);
            box-shadow: 0px 2px 4px rgba(178, 185, 191, 0.8);
        }

        &--active {
            background-color: #4B286D;
            color: white;
            border: none;
        }
    }
    &__title {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        font-weight: 300;
        font-size: 44px;
        
    }
    &__p{
        font-size: 20px;
        &--purple {
            color: $telus-purple;
        }
    }
    &__cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0 3rem;
        justify-content: space-between;
    }
}

.numberCircled {
    background-color: $telus-purple;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.bold {
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 700;
    color: $telus-purple;
}

.dive-deeper-categories {

    &__button-area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}